.App {
  text-align: center;
}

h1 {
  padding-bottom: 3vw;
  font-family: 'Press Start 2P';
  font-size: 3vw;
  -webkit-text-stroke: .08em white;
  background: linear-gradient(to top, #c85c01, #e48f01, #f8b109);
}